[mysqld]
basedir=/usr/local/mysql
datadir=/var/lib/mysql-cluster
#event_scheduler=on
default-storage-engine=ndbcluster
ndbcluster
ndb-connectstring="172.31.0.1,172.31.0.2"

skip-name-resolve
[mysql_cluster]
ndb-connectstring="172.31.0.1,172.31.0.2"

